In [1]:
import pandas as pd
from datetime import datetime

## Read training and test datasets

In [2]:
# helper function for reading datatset
def read_data(file_path):
    df = pd.read_csv(file_path)
    df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d') # convert it to datatime

    return df

In [3]:
df_train = read_data('data/kospi_train.csv')
df_test = read_data('data/kospi_test.csv')

len(df_train), len(df_test)

(986, 244)

In [4]:
# the training dataset has daily KOSPI index from 2019 to 2022
df_train

          Date         Open          Low         High        Close  Volume
0   2019-01-02  2050.550049  2004.270020  2053.449951  2010.000000  326400
1   2019-01-03  2011.810059  1991.650024  2014.719971  1993.699951  428000
2   2019-01-04  1992.400024  1984.530029  2011.560059  2010.250000  409000
3   2019-01-07  2034.239990  2030.900024  2048.060059  2037.099976  440200
4   2019-01-08  2038.680054  2023.589966  2042.699951  2025.270020  397800
..         ...          ...          ...          ...          ...     ...
981 2022-12-23  2325.860107  2311.899902  2333.080078  2313.689941  367000
982 2022-12-26  2312.540039  2304.199951  2321.919922  2317.139893  427600
983 2022-12-27  2327.520020  2321.479980  2335.989990  2332.790039  448300
984 2022-12-28  2296.449951  2276.899902  2296.449951  2280.449951  405700
985 2022-12-29  2265.729980  2236.379883  2272.669922  2236.399902  361000

[986 rows x 6 columns]

In [5]:
# the test dataset has daily KOSPI index in 2023
df_test

          Date         Open          Low         High        Close  Volume
0   2023-01-02  2249.949951  2222.370117  2259.879883  2225.669922  346100
1   2023-01-03  2230.979980  2180.669922  2230.979980  2218.679932  410000
2   2023-01-04  2205.979980  2198.820068  2260.060059  2255.979980  412700
3   2023-01-05  2268.199951  2252.969971  2281.389893  2264.649902  430800
4   2023-01-06  2253.399902  2253.270020  2300.620117  2289.969971  398300
..         ...          ...          ...          ...          ...     ...
239 2023-12-21  2598.370117  2587.159912  2610.810059  2600.020020  578300
240 2023-12-22  2617.719971  2599.510010  2621.370117  2599.510010  466000
241 2023-12-26  2609.439941  2594.649902  2612.139893  2602.590088  439500
242 2023-12-27  2599.350098  2590.080078  2613.500000  2613.500000  349700
243 2023-12-28  2616.270020  2611.719971  2655.280029  2655.280029  460100

[244 rows x 6 columns]

## Part 1. Train regression models to predict the next day's `close` using `Open`, `Low`, `High`, `Close`, `Volume` of previous days as predictors using *only* df_train. Cross-validate to select the best model. Evaluate the accuracy of your model using `df_test`.

In [6]:
# GOOD LUCK

## Part 2. Extend the regression model by adding some extra features of your choice. You can use any statistics publicly available.

In [7]:
# GOOD LUCK